{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}
<!-- Page Content -->
<h2 class="text-center"> Bienvenido a NH Esperia </h2>
<div class="thumbnail">
    <img class="img-responsive" src="../static/hotel/img/alhambra-de-granada.jpg" alt="">
    <div class="caption-full">
        <!-- <h4 class="pull-right">$24.99</h4> -->
        <h4><a href="#">Hotel Hesperia Granada</a>
        </h4>
        <p>El hotel Hesperia Granada es un elegante edificio antiguo con una ubicación inmejorable en el centro histórico de Granada. Está a poca distancia andando de los principales lugares turísticos de la cuidad y muy cerca también del ayuntamiento y del distrito financiero. Además, se puede ir paseando al Palacio de la Alhambra, se tarda unos 20 minutos.</p>
    </div>
    <div class="ratings">
        <p class="pull-right">3 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
</div>

<div class="well">

    <div class="text-right">
        <a class="btn btn-success">Dejar un comentario</a>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anónimo
            <span class="pull-right">Hace 10 días</span>
            <p>Buen hotel con buena localización, volveré definitivamente.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Miguel
            <span class="pull-right">Hace 12 días</span>
            <p>Hemos quedado muy contentos con las habitaciones y el personal, aunque el servicio de restaurante es mejorable.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anónimo
            <span class="pull-right">Hace 15 días</span>
            <p>Nuestra habitación estaba un poco sucia al llegar, aunque tras avisarlo al personal, lo enmendaron en seguida. A parte de eso, el resto genial.</p>
        </div>
    </div>

</div>

<!-- /.container -->

{% endblock %}
