{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}
<!-- Page Content -->
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>


	<h2 class="text-center" id="page-title"> Transporte y conexiones </h2>
	<div id="mapid" style="height: 400px;"></div>
	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="col-md-4">
	          <h2><span class="glyphicon glyphicon-bed" aria-hidden="true"></span> Autobuses</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <h2><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Aeropuertos </h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	       </div>
	        <div class="col-md-4">
	          <h2><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Gratuito</h2>
	          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	      </div>





	<script>

		var mymap = L.map('mapid').setView([51.505, -0.09], 13);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'mapbox.streets'
		}).addTo(mymap);


		L.marker([51.5, -0.09]).addTo(mymap)
			.bindPopup("<b>Localización del hotel</b><br />C/ Locura 13").openPopup();

		L.circle([51.508, -0.11], 500, {
			color: 'red',
			fillColor: '#f03',
			fillOpacity: 0.5
		}).addTo(mymap).bindPopup("Zona peatonal.");

		L.polygon([
			[51.509, -0.08],
			[51.503, -0.06],
			[51.51, -0.047]
		]).addTo(mymap).bindPopup("Zona de bicicletas.");


		var popup = L.popup();

		mymap.on('click', onMapClick);

	</script>
<!-- /.container -->

{% endblock %}
